.mayus{
	text-transform: capitalize;
}
.mayustt{
	text-transform: uppercase;
}
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}



input[type=number] {

    -moz-appearance:textfield;

}
 footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: black;
            text-align: center;
            padding: 10px 0;
        }