<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CATEGORIA</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    <link href="/css/general-styles.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{/components/cancel-nav}"></nav>

<header class="masthead text-center text-white" style="height: 50vh; display: flex; flex-direction: column; justify-content: center;">
    <div class="masthead-content">
        <div class="container">
            <h1 class="mb-0 titulo-categoria" th:text="${nameCategoria}"></h1>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="row">
                <h5>Editando a:</h5>
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                    </tr>
                    <tr>
                        <td th:text="${profesor.id}"></td>
                        <td th:text="${profesor.nombre}"></td>
                        <td th:text="${profesor.apellido}"></td>
                        <td th:text="${profesor.documento}"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <h5 th:text="'Categoría ID: ' + ${categoriaId}"></h5>
                <h5 th:text="'Categoría Nombre: ' + ${nameCategoria}"></h5>
                <h5> Lista de Actividades: </h5>

                <form th:action="@{'/categoria_t/' + ${profesorId}}" method="post">
                    <input type="hidden" name="profesorId" th:value="${profesorId}"/>
                    <input type="hidden" name="strCategoriasSeleccionadas"
                           th:value="${strCategoriasSeleccionadas}"/>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Nombre Actividad</th>
                            <th scope="col">Pts.</th>
                            <th scope="col">Puntos Asignados</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${actividadesConPuntajes}">
                            <td scope="row" th:text="${item.actividad.nombre}"></td>
                            <td scope="row" class="puntosMaximos" th:text="${item.actividad.puntuacion}"></td>
                            <td>
                                <input type="text" th:value="${item.puntajeActividad.puntaje}" name="asignados"
                                       class="asignados-input" onchange="calcularSumaAsignados();"
                                       placeholder="0" id="lastInput"
                                       data-previous-value="${item.puntajeActividad.puntaje}" onclick="borrarContenido(this)"
                                       pattern="[0-9]+([\.][0-9]+)?"
                                       title="Ingrese números y puntos">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td class="text-left">Total Parcial:</td>
                            <td id="totalParcial" class="text-left">0</td>
                        </tr>
                        <tr>
                            <td class="align-right bold-text" style="text-align: right;">Puntuación Maxima que entrega esta categoria:</td>
                            <td id="ptsMaximoXCategoria" th:text="${categoria.puntuacionMaxima}"></td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td style="text-align: right;">Total:</td>
                            <td>
                                <input type="text" id="totalValidado" name="totalValidado" class="text-right" placeholder="Total Validado: 0" pattern="[0-9]+([\.,][0-9]+)?">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" class= "ok">Continuar</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{/components/footer}"></footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    function borrarContenido(input) {
        input.value = "";
    }
    function formatNumber(number) {
    return parseFloat(number).toFixed(3);
}
    document.addEventListener("DOMContentLoaded", function () {
        // Llamar a la función después de que se cargue la página
        calcularSumaAsignados();
    });

    function calcularSumaAsignados() {
        const inputs = document.getElementsByClassName('asignados-input'); // Cambiado a seleccionar por clase
        let suma = 0;
        let puntosMaximos = 0;

        // Obtener el valor de puntosMaximos
        const puntosMaximosElement = document.getElementsByClassName('puntosMaximos');

        for (let i = 0; i < inputs.length; i++) {
            const inputValue = inputs[i].value;
            const numericValue = parseFloat(inputValue); // Convertir el valor a número

            if (!isNaN(numericValue)) { // Verificar si es un número válido
                suma += numericValue;
                const pts = puntosMaximosElement[i].textContent.valueOf();
            }
        }

        // Actualizar el elemento en la página con la suma
        document.getElementById('totalParcial').textContent = formatNumber(suma);

        const totalValidadoInput = document.getElementById('totalValidado');
        const ptsMaximoXCategoria = document.getElementById('ptsMaximoXCategoria').textContent;

        if (suma > ptsMaximoXCategoria) {
            alert("El total de puntos para esta categoria sera el maximo");
            totalValidadoInput.value = formatNumber(ptsMaximoXCategoria);
    } else {
        totalValidadoInput.value = formatNumber(suma);
        }
    }
</script>


</body>
</html>